/* roboto-regular - cyrillic-ext_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v20-cyrillic-ext_cyrillic-regular.eot"); /* IE9 Compat Modes */
  src: local("Roboto"), local("Roboto-Regular"),
    url("../fonts/roboto-v20-cyrillic-ext_cyrillic-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/roboto-v20-cyrillic-ext_cyrillic-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/roboto-v20-cyrillic-ext_cyrillic-regular.woff")
      format("woff"),
    /* Modern Browsers */
      url("../fonts/roboto-v20-cyrillic-ext_cyrillic-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/roboto-v20-cyrillic-ext_cyrillic-regular.svg#Roboto")
      format("svg"); /* Legacy iOS */
}

/* roboto-500 - cyrillic-ext_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v20-cyrillic-ext_cyrillic-500.eot"); /* IE9 Compat Modes */
  src: local("Roboto Medium"), local("Roboto-Medium"),
    url("../fonts/roboto-v20-cyrillic-ext_cyrillic-500.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/roboto-v20-cyrillic-ext_cyrillic-500.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/roboto-v20-cyrillic-ext_cyrillic-500.woff") format("woff"),
    /* Modern Browsers */
      url("../fonts/roboto-v20-cyrillic-ext_cyrillic-500.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/roboto-v20-cyrillic-ext_cyrillic-500.svg#Roboto")
      format("svg"); /* Legacy iOS */
}
/* playfair-display-regular - latin_cyrillic */
@font-face {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/playfair-display-v20-latin_cyrillic-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/playfair-display-v20-latin_cyrillic-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("../fonts/playfair-display-v20-latin_cyrillic-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/playfair-display-v20-latin_cyrillic-regular.woff")
      format("woff"),
    /* Modern Browsers */
      url("../fonts/playfair-display-v20-latin_cyrillic-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/playfair-display-v20-latin_cyrillic-regular.svg#PlayfairDisplay")
      format("svg"); /* Legacy iOS */
}

/* playfair-display-900 - latin_cyrillic */
@font-face {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/playfair-display-v20-latin_cyrillic-900.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/playfair-display-v20-latin_cyrillic-900.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/playfair-display-v20-latin_cyrillic-900.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/playfair-display-v20-latin_cyrillic-900.woff")
      format("woff"),
    /* Modern Browsers */
      url("../fonts/playfair-display-v20-latin_cyrillic-900.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/playfair-display-v20-latin_cyrillic-900.svg#PlayfairDisplay")
      format("svg"); /* Legacy iOS */
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background: #ffffff;
  color: #000000;
}

/* header styles start*/
.header_size {
  top: 0;
  left: 0;
  height: 218px;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}
.header__title {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 900;
  font-size: 35px;
  line-height: 47px;
  letter-spacing: 1px;
}
.header__title_posishion {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
  padding-top: 60px;
}
/*
.navigation__list_posishion {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
*/
.navigation__link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
}
.navigation__link:hover,
.navigation__link:focus,
.navigation__link:active {
  color: #ff7931;
}
.navigation__item {
  display: inline; /* <li> являются блок-элементами.удаляем разрывы строк до и после каждого элемента списка, чтобы отобразить их на одной строке */
}
.navigation__item_distance {
  margin: 10px;
}
.navigation__item_distance:last-child {
  margin-right: 135px;
}
.navigation__item_distance:first-child {
  margin-left: 135px;
}
.navigation_posishion {
  display: flex;
  flex-wrap: wrap;
  padding-top: 46px;
  align-items: flex-end;
  justify-content: center;
}
/* Header styles end */

/* Intro styles start */
.intro_size {
  height: 464px;
  background: url(../img/hotel.jpg) no-repeat center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.logo_position {
  margin-top: 46px;
  width: 55px;
  height: 55px;
}
.intro-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 84px;

  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 30px;
}
.intro-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-align: center;

  color: #ffffff;
  padding-top: 100px;
  max-width: 456px;
}
/* Intro styles end */

/*  Начало раздела контента из трех стролбцов */
.info__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.info__title_posishion {
  text-align: center;
  padding-top: 44px;
}

.info-boxes_more__link:hover,
.info-boxes_more__link:focus,
.info-boxes_more__link:active {
  color: #ff7931;
}
.info-boxes_more__link {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: 900;
  font-size: 23px;
  line-height: 31px;
  text-decoration: none;
  color: #000000;
}
/* общий контенер для трех столбцов*/
.info-boxes {
  margin: 0 auto;
  padding: 20px;
  display: flex;
  max-width: 1440px;
  text-align: left;
  justify-content: center;
}
/*три дочерних элемента boxes одинаковой ширины flex: 1;*/
/*дочерний элемент превращаем в контейнер для вертикакльного размещения статей*/
.info-boxes_box {
  flex: 1;
  display: flex;
  max-width: 370px;
  flex-direction: column;
  margin: 30px;
}

.info-boxes_more__text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
}
.info-boxes_box_image {
  width: 370px;
  height: 203px;
  padding-top: 0;
  margin-bottom: 20px;
}
/* Конец раздела контента из трех стролбцов */

/* Начало раздела реклама */
.rec_size {
  height: 556px;
  background-color: #f7f7f7;
  background-size: over;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.rec-head {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 33px;
}
.rec-title {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: 900;
  font-size: 23px;
  line-height: 31px;
  text-align: center;
  padding-top: 40px;
}
.rec-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  max-width: 370px;
}
.search-form__submit {
  padding: 15px 39px;
  font-weight: 500;
  font-size: 24px;
  color: white;
  background: #ff7931;
  border: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  width: 170px;
  height: 47px;
}

.search-form__submit:hover,
.search-form__submit:focus,
.search-form__submit:active {
  background: #ff7961;
}
.pos {
  padding-top: 20px;
}
/* Конец раздела реклама */

/* Начало футера*/
.footer {
  height: 556px;
  background-color: #575757;
  background-size: over;
  display: flex;
  width: 100%;
}
.footer_size {
  height: 556px;
  background-color: #575757;
  background-size: over;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.footer__title {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: 900;
  font-size: 28px;
  line-height: 37px;
  letter-spacing: 1px;
  color: #ffffff;
}
.footer__title_posishion {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
  padding-top: 60px;
}
.navigationf__link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  color: #ffffff;
  padding-bottom: 40px;
}
.navigationf__link:hover,
.navigationf__link:focus,
.navigationf__link:active {
  color: #ff7931;
}
/* Конец футера*/
